<h2>Select by category</h2>
<%= form_with url: "/statistics/select_by_category", method: :get do |form| %>
  <%= form.select :month, options_for_select(@months, @selected_month.strftime('%Y-%m')), { include_blank: true }, { class: 'form-control' } %>
  <%= form.submit "Filter", class: 'btn btn-primary' %>
<% end %>

<div>
  <canvas id="myChart" width="600" height="400"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('myChart');

    const data = {
      labels: <%=raw @data_for_chart.map { |d| d[:label] }.to_json.html_safe %>,
      datasets: [{
        label: 'Amount',
        data: <%=raw @data_for_chart.map { |d| d[:value] }.to_json.html_safe %>,
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
      }]
    };

    const config = {
      type: 'doughnut',
      data: data,
      options: {
        responsive: false
      }
    };

    const myChart = new Chart(ctx, config);
  </script>
</div>
