<h2>Filter by date range and category</h2>
<%= form_tag "", method: :get do %>
  <%= label_tag :month, "Select Month:" %>
  <%= select_tag :month, options_for_select(months_options, @selected_month), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<div>
  <canvas id="myChart" width="600" height="400"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById("myChart").getContext("2d");
    const myDoughnutChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        datasets: [{
          data: <%= @data_for_chart.to_json %>,
          backgroundColor: [
            '#FF6384',
            '#36A2EB',
            '#FFCE56',
            '#4BC0C0',
            '#9966FF',
            '#00E64D',
            '#C68C53',
            '#FFB266',
            '#FF3300'
          ],
        }],
        labels: <%= @data_for_chart.map { |d| d[:label] }.to_json %>,
      },
      options: {
        responsive: true,
        legend: {
          position: 'bottom',
        },
        title: {
          display: true,
          text: 'Total Amount by Category for <%= @selected_month.strftime("%B %Y") %>',
        },
      },
    });
  </script>
</div>