<%= stylesheet_link_tag 'category_show' %>
<div class="container col-6">
    <h1>Categories</h1>

    <%# <p><%= link_to "Create New Category", new_category_path, class: "btn btn-primary"</p> %>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= category.description %></td>
            <td>
            <div class="d-flex justify-content gap-3">
              <%= link_to "View", category_path(category), class: "btn btn-info" %>
              <%= link_to "Edit", edit_category_path(category), class: "btn btn-warning" %>
              <%= button_to "Delete", category_path(category), method: :delete, onclick: "return confirm('Are you sure?')", class: "btn btn-danger" %>
            </div> 
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Create new Category", new_category_path, class: "btn btn-info"%>

</div>