<% if !logged_in? %>
    
  <h2>To see your operations please sign up or log in</h2>
  <%= link_to "Sign up", "/signup", class: "btn btn-primary mb-3" %>
  <%= link_to "Log in", "/login", class: "btn btn-primary mb-3" %>
    
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @operations.each do |operation| %>
        <% if logged_in? && operation.user == current_user %>
        <tr>
          <td><%= operation.description %></td>
          <td><%= operation.amount %></td>
          <td><%= operation.odate.strftime("%B %d, %Y %I:%M %p") %></td>
          <td><%= operation.category.name %></td>
          <td>
            <div class="d-flex justify-content gap-3">
              <%= link_to "Show", operation_path(operation), class: "btn btn-info mr-2" %>
              <%= link_to "Edit", edit_operation_path(operation), class: "btn btn-warning mr-2" %>
              <%= button_to "Delete", operation_path(operation), method: :delete, onclick: "return confirm('Are you sure?')", class: "btn btn-danger" %>
            </div>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<%# <% else %>
  <%# <h2>To see your operations please sign up or log in</h2> %>
<% end %>
